In [1]:
import pandas as pd

In [7]:
path = "D:/V S CODE/Book1.xlsx"
df = pd.read_excel(path)
print(df)

    s. no      a     b   c   d   e  length
0        1   2.0   1.0   5   3   4     45.0
1        2   4.0   3.0  10   6   8     43.0
2        3   6.0   5.0  15   9  12     66.0
3        4   8.0   7.0  20  12  16     78.0
4        5  10.0   9.0  25  15  20     32.0
5        6  12.0  11.0  30  18  24     12.0
6        7  14.0  13.0  35  21  28     54.0
7        8  16.0  15.0  40  24  32     67.0
8        9  18.0  17.0  45  27  36     77.0
9       10  20.0  19.0  50  30  40     89.0
10      11   NaN   NaN  55  33  44      NaN

In [8]:
df.head(5)

   s. no      a    b   c   d   e  length
0       1   2.0  1.0   5   3   4     45.0
1       2   4.0  3.0  10   6   8     43.0
2       3   6.0  5.0  15   9  12     66.0
3       4   8.0  7.0  20  12  16     78.0
4       5  10.0  9.0  25  15  20     32.0

In [9]:
# simple feature scaling method 
df["length "]= df=["length"]/df["length"].max()

KeyError: 'length'